.root {
    padding: 0 70px 50px 70px;
}

.sectionTitle {
    color: #2B44FF;
    text-align: start;
    z-index: -2;
}

.recentSection, .popularSection {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.cardGrid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
    padding-top: 30px;
    z-index: -2;
}