@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


.container {
    box-shadow: 0 0 4px #00000069;
    position: fixed;
    width: 750px;
    height: 550px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    background-color: #ffffff;
    padding-top: 25px;
    z-index: 1;
    color: #535353;
}

.innerContainer {
    padding: 45px 60px 0 70px;
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
    color: #2b44ff;
    border: none;
    background-color: transparent;
}

.closeButton:hover {
    cursor: pointer;
}

.closeIcon {
    width: 20px;
}

.sectionTitle {
    color: #2B44FF;
    text-align: start;
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.input, .textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    color: #535353;
    font-family: 'Open Sans', sans-serif;
}

.textarea {
    font-size: 13px;
    resize: none;
    height: 100%;
}

.label {
    padding-bottom: 5px;
}

.submit {
    color: #ffffff;
    background-color: #2b44ff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.bgfade {
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.buttonLine {
    display: flex;
    padding-top: 10px;
}

.clearButton {
    background-color: transparent;
    border: none;
    padding: 10px 10px 0 10px;
}

.clearButton:hover {
    cursor: pointer;
}

.icon {
    fill: red;
    height: 22px;
}

#thumbUpIcon {
    fill: blueviolet;
}

.numValue {
    vertical-align: text-top;
    line-height: 10px;
    padding: 0 0 0 10px;
}

.commentSection {
    padding-top: 40px;
    padding-bottom: 10px;
}

.ruleLine {
    margin: 10px 0 15px 0;
}